/*********************************************
DAYTRIPPER HOMEPAGE
**********************************************/

body {
	background-image:url(/img/bg-tan-paper.png)!important;
	background-color:#faf3e3;
}


/* ---------------------------------- */



/* NAV */
nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}
	
	
nav ul li {
	float: left;
}

	nav ul li:hover {
	
	}
		nav ul li:hover a {
			color:#C30;
			
		}
	
	nav ul li a {
		display: block;
		text-decoration: none;
		
	}

	nav ul li a:active {
	/*background:#ccc;*/
	
	}


nav ul ul {
	background: #FEF2E6; 
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
	width:100px;
	margin-left:-20px;
	
}
	/*nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}*/
		nav ul ul li a {
			padding: 15px 20px;
			
		}	
			nav ul ul li a:hover {
				border-top: 1px solid rgba(0, 0, 0, 0.2);
				border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	
			}	
			

	@media only screen and (max-width:568px) and (orientation:portrait){
	
	nav ul li {
		float:none;
	}
	
	}
	
	

/* OVERLAY NAV */		
.about-overlay {
	display:block;
	width:100%!important;
	height:100%!important;
	z-index:99999!important;
	
	position:fixed;
	top:0;
	left:0;
	
	background-color:#faf3e3;
	opacity:.9;
	
	display:none;
	
	cursor:pointer;
}			

.subscribe-overlay {
	display:block;
	width:100%!important;
	height:100%!important;
	z-index:99999!important;
	
	position:fixed;
	top:0;
	left:0;
	
	background-color:#FEF2E6;
	opacity:.9;
	
	display:none;
	
	cursor:pointer;
}	

	


.about  {
	position:relative;
	top:20%;
	left:50%;
	
	margin-left:-175px;

	width:375px;
		
	text-align:center;
	
	cursor:auto;
}


	
a.hide-btn {
		margin:25px auto;
		display:block;
		height:30px;
		width:30px;
		
		background-image:url(/img/btn_hobocode.png);
		background-position: 0px 30px;
			
		outline:none;
		text-align:center;
		
	
		 
	}
	
	a.hide-btn:hover{
	opacity:.3;

	}
	
	
/* MASTHEAD LOGO */
		
#masthead{
	position:absolute;
	top:10%;
	left:40%;
	/*
	background-image:url(img/dt-homepage-stack-type.png);
	background-repeat:no-repeat;
	*/
	z-index:99!important;

	height:90%;
	width:auto;
}

#masthead img{
	height:91%;
	width:auto;
	z-index:99!important;
	
	max-width:417px;
	max-height:521px;
	}

/* loading-screen */	
.mast-img{
	position: absolute;
	top:0;
	left:1200px;
	}

	@media only screen and (max-width:568px) and (orientation:portrait){
		#masthead{
			position:absolute;
			top:16%;
			left:40%;
			
		}
		
		
	
	}


	@media only screen and (max-width:520){
	
	#masthead{
		position:absolute;
		top:10%;
		left:400%;
		/*
		background-image:url(img/dt-homepage-stack-type.png);
		background-repeat:no-repeat;
		*/
		z-index:99!important;
	
		height:90%;
		width:auto;
	}
	
	#masthead img{
		height:31%;
		width:auto;
		
		}
	}
	
	
	@media only screen 
	and (min-device-width : 320px) 
	and (orientation : portrait) { 
	
	#masthead{
		position:absolute;
		top:35%;
		left:40%;
	}
		
	#masthead img{
		height:31%;
		width:auto;
		
		
		
		}
	}
	
/*
SIDE TOC COLUMN TEXT 
VERTICAL SCROLL
*/

/* FIX NEEDED: how to get #side-column-textbox to slide onto 3rd page (and off the last two pages) instead of top:160% hack! */

#side-column-textbox{
	/*
	background-image:url(img/ricepaper_v3.png) !important;
	background-color:#FFD690;
	opacity:.9;
	*/
	z-index:999;
	display: block;
	
	width: 16%!important;
	max-width: 16%;
	height:170px;
	
	position:fixed;
	top:11%;
	right:0%;
	margin-right:32px;
}

.slides-textbox { 
	z-index:555;
	height:170px;

} 
 
.slides-textbox img {  
    padding: 0; 

} 

.blank{
}



	.toc-btn{
		display:none;
		margin-top:30%;
	
	}
	
	
	@media only screen and (min-width:970px) and (min-height:680px){
		#side-column-textbox{
			position:fixed!important;
			top:11%!important;
			right:8%!important;	
		}
		
	
	
	}
	
	
	@media only screen and (max-height:650px){
		.toc-btn{		
			margin-left:50px!important;
		}
		
	.story-responsive {
			display:none;
		}
	
	}
	
	@media only screen and (max-width:588px){
		.toc-btn{
			display:block;
		}
		
		#side-column-textbox{
				margin-right:14%;

		}

	@media only screen 
	and (min-device-width : 320px) 
	and (max-device-width : 568px) 
	and (orientation : portrait) {

		#side-column-textbox{
			top:35%!important;
			margin-right:31%!important;
		}
		
	}
	
		
/*		.toc-list{
			diplay:block;
			width:300px;
			height:200px;
			position:absolute;
			left:50%;
			top:25%
			z-index:9999;
			}*/
		  
		.showNav{
			display:block;
			margin-bottom:20px;
			/*padding-top: 10px;*/
		}
		
		.hideNav{
			display:none;
		}
		
		.toc-list ul{
			display:none;
		}
		
		.toc-list ul li{
			display:block;
		}
		
		.toc-list ul li a{
			float:none;
			margin:0 0 5px 0;
		}
		
		
		li.separator{
			margin-left: -9999px;
		}
		  
		}

		/* --------------- */



/* ---------------------------------- */



/* PAGE 0 ISSUE No1*/

#p0-img1 {
	width: 63% !important;
	height: auto;
	
	/*min-width:1020px!important;
	min-height:auto!important;*/
	
	margin-left: -29%;
	margin-top: 5%;
	}


a:hover img{
	opacity:.7!important;
	}

	/*
	TABLE OF CONTENTS
	VERTICAL SCROLL
	*/
	#textbox{
		display:block;
		width:350px;
		height:10000px;
		position:fixed;
		left:728px;
		top:-120px;
		
		z-index:555;
		
	}
	

	
	/* ---------------- */
	
	
	
	/*SIDEBAR HOBOCODE*/
	
	.sidebar-hobocode {
		position: fixed;
		left:0;
		bottom:10%;
	}
	
	
	.sidebar-content-hobocode {
		position:absolute;
		bottom: 0;
		left: 30px;
		margin-left: 40px;
		
		width:0px;
		overflow:hidden;
		
		z-index:9999!important;
	}
	
	
	
	a.sidebar-button-hobocode {
		margin-top:7px;
		
		display:block;
		height:30px;
		width:30px;
		
		background-image:url(/img/btn_hobocode.png);
		background-position: 0px -30px;
		
		opacity:.7;
	
	
		text-decoration:none;	
		outline:none;
	}
	
	
	a.sidebar-button-hobocode:hover{
	/*background-position: 0px 0px;*/
	opacity:.3;
	}
	
	/*
	a.button:active{
		background-position: 0px 30px;
	}*/
	
	a.sidebar-button-x{
		background-position: 0px 30px;
	
	}
	
	.less{
		display:none;
	
	}
	
	
	/* ---------------- */
	
	
	/* CREDITS OPENER PAGE */
	.credits ul{
		display: block;
		width: auto;
		height: auto;
		
		position: absolute;
		top: 34.5%;
		right: 1%;
		
		z-index: 9999 !important;
		
		background-image:url(img/ricepaper_v3.png);
		background-color: #FFD690;
		
		padding: 6px!important;
		-moz-border-radius: 5px / 5px;
		border-radius: 5px / 5px;
		}
		
		
	.double-line{
		letter-spacing:-1px;
		font-size:17px;
		padding:0 5px;
		}


/* ---------------------------------- */



/* PAGE 1 ISSUE No2 */

#coming-soon-img {
	width: 63% !important;
	height: auto;
	
	margin-left: -29%;
	margin-top: 5%;
	
	opacity:.3;
	}


.coming-soon-overlay {
	display:block;
	width:170%!important;
	height:480%!important;
	z-index:99999!important;
	
	position:fixed;
	top:-80%;
	left:-20%;
	
	background-color:#FEF2E6;
	opacity:.9;
	
	display:block;
}

/* ---------------------------------- */


